<main>
  <div class="container">
    <!--Section: Contact v.1-->
<section class="section pb-5">

    <div class="row">
      <!--Grid column-->
      <!-- Grid column -->
<div class="col-lg-7">
    <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
      <iframe src="https://www.google.com/maps/d/embed?mid=1d2AMAmM0WBgAFwzYUV4hFfskFqc" frameborder="0"
        style="border:0" allowfullscreen></iframe>
    </div>
    <!-- Buttons-->
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-map-marker-alt prefix orange-text"></i>
        <p>Br 03 Centre Le Palace Av Hedi Nouira Ennasr 2 CP : 2001</p>
        <p class="mb-md-0">( A côté de L'agence BNA )</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-phone prefix orange-text"></i>
        <p>(+216) 70 830 524</p>
        <p class="mb-md-0">(+216) 23 569 470</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-envelope prefix orange-text"></i>
        <p>Email: info@freedomtravel.tn</p>
        <p class="mb-0">Skype: freedomtraveltn</p>
      </div>
    </div>

</div>
  <!-- Grid column -->

      <!--Grid column-->
  <!--Grid column-->
  <div class="col-lg-5 mb-4">
  
        <!--Form with header-->
        <div class="card">
  
          <div class="card-body">
            <!--Header-->
            <div class="form-header">
              <h3 class="blue-text"><i class="fas fa-envelope blue-text"></i> Laissez un message</h3>
            </div>
  
            <br>
  
                  <!--Body-->
            <form method="post" id="form-contact" name="form-contact">
              <div class="md-form">
                <i class="fas fa-user prefix orange-text"></i>
                <input type="text" id="nom" name="nom" [(ngModel)]="contact.nom" class="form-control">
                <label for="nom">Nom</label>
              </div>
    
              <div class="md-form">
                <i class="fas fa-envelope prefix orange-text"></i>
                <input type="text" id="email" name="email" [(ngModel)]="contact.email" class="form-control">
                <label for="email">Email</label>
              </div>
  
              <div class="md-form">
                  <i class="fas fa-phone prefix orange-text"></i>
                  <input type="tel" id="tel" name="tel"  [(ngModel)]="contact.tel" class="form-control">
                  <label for="tel">Telephone</label>
                </div>
    
              <div class="md-form">
                <i class="fas fa-tag prefix orange-text"></i>
                <input type="text" id="sujet" name="sujet"   [(ngModel)]="contact.sujet" class="form-control">
                <label for="sujet">Sujet</label>
              </div>
    
              <div class="md-form">
                <i class="fas fa-pencil-alt prefix orange-text"></i>
                <textarea id="message" name="message"  [(ngModel)]="contact.message" class="form-control md-textarea" rows="3"></textarea>
                <label for="message">Message</label>
              </div>
    
              <div class="text-center mt-4">
                <button class="btn btn-light-blue" (click)="postContact()" type="submit">Envoyer</button>
              </div>
              </form>
          </div>
  
        </div>
        <!--Form with header-->
  
      </div>
  </div>
 
    </section>
  <!--Section: Contact v.1-->
  </div>
  <!-- Contenu -->
  </main>