<select name="" id="villeSelect" (change)="filterHotel($event)">
<option value="{{ville.id}}" *ngFor="let ville of villes"> {{ville.nom}}</option>
</select>

<!--
<input type="text" matInput
    ngxDaterangepickerMd
    [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
    startKey="start"
    endKey="end"
    [(ngModel)]="selected"
    name="daterange"     
    (dateInput)="inputEvent($event)" (dateChange)="changeEvent($event)"/> -->

    <br />

    <ejs-daterangepicker format='dd-MM-yyyy' placeholder='Select a range' [(startDate)]='start' [(endDate)]='end'></ejs-daterangepicker>

    <button (click)="filterHotels()" >Rechercher</button>

<div class="card-columns" id="list-hotels">
    <div class="animated flipInX card card-cascade wider mt-2 mb-3" *ngFor="let hotel of hotels">
        <div class="view view-cascade overlay">
            <img  class="card-img-top" src="https://freedomtravel.tn/assets/images/hotel_miniature/{{hotel.id}}.jpg" alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <div class="card-body card-body-cascade text-center">
            <h4 class="card-title"><strong>{{hotel.nom}}</strong></h4>
            <p class="card-text" >
                | {{hotel.ville}}
            </p>
            <div class="row">
                <div class="col-md-8 card-button">
                    <button type="button" (clic)="setIdHotel(idhotel)" [(idhotel)]="idH" class="btn btn-light-blue btn-md">Voir Offre</button>
                </div>
                <div class="col-md-4 card-button">
                    <p class="card-price" *ngIf="hotel.lpdvente != 0">{{hotel.lpdvente}} Dt / <span class="span-price orange-text">LPD</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
