<header class="h-100">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark black" [containerInside]="true">
        <mdb-navbar-brand>
            <a class="logo navbar-brand" href="#"><strong>Navbar</strong></a>
        </mdb-navbar-brand>
        <links>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="">Acceuil <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="hotels">Hotels</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="voyages">voyages</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect>
                    <a class="nav-link" routerLink="contact">Contact</a>
                </li>

                <li class="nav-item waves-light" mdbWavesEffect *ngIf="this.authentifService.isLogeddOut()">
                    <a class="nav-link" routerLink="connexion">Connexion</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect (click)="logout()" *ngIf="this.authentifService.isLogeddIn()">
                    <a class="nav-link">Deconnexion</a>
                </li>
            </ul>
        </links>
    </mdb-navbar>
</header>

