<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item *ngFor="let carousel of cars">
        <img class="d-block w-100" src="https://www.freedomtravel.tn/{{carousel.href}}" alt="First slide">
    </mdb-carousel-item>
</mdb-carousel>